.footerNavigationItem {
  list-style: none outside;
}

.footerNavigationLink {
  text-decoration: none;
  display: block;
  color: var(--color-content);
  padding: calc(var(--typography-size-s) * 2);
  transition: 0.3s ease-in-out;
  font-size: var(--typography-size-l);

  &:hover {
    opacity: 0.8;
  }
}
