.footerNavigationItem {
  list-style: none outside;

  &:not(:last-child) {
    margin: 0 2em;
  }
}

.footerNavigationLink {
  text-decoration: none;
  display: block;
  color: var(--color-content);
  padding: 2em;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.footerNavigationItem:last-child a {
  padding-right: 0;
}
