.tab {
  list-style: none outside;
  border-top: 2px solid var(--color-separator);
  padding: 0 2.5em;
  transition: 0.6s ease-in-out;
  cursor: pointer;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 40em) {
    padding: 0 1em;
    font-size: var(--typography-size-s);
  }
}

.isActive {
  border-color: var(--color-tab-border);
}

.tabHeading {
  color: var(--color-content);
  font-size: var(--typography-size-xxl);
}

.tabDescription {
  color: var(--color-primary-darker-1);
  font-size: var(--typography-size-l);
}
