.faqSection {
  padding: var(--section-inner-spacing);
  background-color: var(--color-primary-lighter-2);
}

.mailSeparator {
  font-size: var(--typography-size-xxl);
  display: block;
  margin-top: 2em;
}

.faqList {
  padding: 0;
  margin-left: 3em;
}
