.cta {
  color: var(--color-cta);
  font-size: var(--typography-size-l);
  font-weight: 600;
  align-self: flex-end;
  margin-left: auto;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.darkerColor {
  color: var(--color-cta-darker);
}

.marginBottom {
  display: block;
  margin-bottom: 6em;
}
