.aboutSection {
  background-color: var(--color-primary);
  padding: var(--section-inner-spacing);

  @media (max-width: 40em) {
    padding: 0 0 6em;
  }
}

.aboutSectionDescriptionParagraph {
  font-size: var(--heading-size-l);
  color: var(--color-primary-darker-1);
  margin: 0 0 2em;
  line-height: 1.4;
}
