.navigationItem {
  list-style: none outside;
  display: flex;
}

.navigationLink {
  display: block;
  color: var(--color-content);
  font-weight: 500;
  text-decoration: none;
  padding: 0.85em 2em;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.borderLeftItem {
  border-left: 2px solid var(--color-separator);
}

.borderLeftLink {
  padding-left: 3em;
  padding-right: 3em;
}

.borderRightLink {
  padding-right: 3em;
}

.buttonLink {
  color: var(--color-content-invert);
  background-color: var(--color-content);
  padding: 1.5em 2em;
  line-height: 1;
  font-weight: 600;
  border: 1px solid #676e6f;
}
