.post {
  position: relative;

  &LinkWrapper {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &Heading {
    color: var(--color-content);
    font-weight: 500;
    font-size: 1.9em;
  }

  &Description {
    color: #9fb8bd;
    font-size: var(--typography-size-l);
  }
}
