html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--site-scale);
  font-family: var(--global-font-family);

  @media (max-width: 64em) {
    font-size: var(--typography-size-s);
  }

  @media (max-width: 48em) {
    font-size: var(--typography-size-xs);
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
